:root {
  --primary: #ab7e00;
  --secondary: #ab7e0099;
  --bg: #010101;
  --bg-secondary: #ffffff10;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg);
  color: azure;
}

/* sign */
.sign {
  font-style: oblique;
  font-weight: 1rem;
}
.sign span {
  color: var(--primary);
}

/* star-fill */
.star-fill{
    fill: var(--primary);
    color: var(--primary);
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #ab7e00;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: azure;
  font-style: oblique;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  display: inline-block;
  color: azure;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.75);
}

.navbar .navbar-extra a {
  color: azure;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* navbar cari */
.navbar .cari {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 30rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s;
}
.navbar .cari.active{
    transform: scaleY(1);
}
.navbar .cari #cari-box {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: var(--bg);
    padding: 1rem;
}
.navbar .cari label {
    cursor: pointer;
    font-size: 1.3rem;
    margin-right: 1.5rem;
    color: var(--bg);
}

/* shopping cart*/
.keranjang {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #FFF;
    width: 35rem;
    height: 100vh;
    transition: 0.3;
    color: var(--bg);
    padding: 0 1.5rem;
}
.keranjang .title {
  font-size: 2rem;
  margin-top: 1rem;
}
.keranjang .item {
    margin: 2rem 0;
    display: flex;
    align-items: start;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted var(--bg);
    justify-content: space-between;
}
.keranjang .item-info {
    display: flex;
    align-items:start;
}
.keranjang .item-info img {
    height: 6rem;
    border-radius: 2rem;
}
.keranjang .item-info .item-detil {
    margin: 0 1rem;
}
.keranjang .item .item-info .item-detil h3 {
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
}
.keranjang .item-info .item-detil .item-harga {
    font-size: 1.3rem;
}
.keranjang .item .item-action .item-subtotal {
  font-size: 1.3rem;
  width: 12rem;
  text-align: end;
  padding: 0.5rem 0;
}
.keranjang .item .item-action .item-action-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.keranjang .item .item-action .item-action-btn .btn.btn-item-hapus {
  display:flex;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  color: #000;
  align-items: center;
  margin-right: 0;
  padding-right: 0;
}
.keranjang .item .item-action .item-action-btn .btn.btn-item-hapus:hover {
  background-color: #fff;
  color: var(--primary);
}
.keranjang .item .item-action .item-action-btn .btn {
    cursor: pointer;
    padding: 0.25rem;
    color: #fff;
    background-color: var(--bg);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    margin: 0 0.5rem;
    align-items: center;
    text-align: center;
}
.keranjang .item .item-action .item-action-btn .btn:hover {
    background-color: var(--primary);
}
.keranjang .item .item-action .item-update {
    display: flex;
    align-items: center;
}
.keranjang .item .item-action .item-update .input-qty {
    width: 2.5rem;
    text-align: center;
    padding: 0.25rem 0;
    font-size: 1.5rem;
    border-bottom: 1px solid var(--bg);
}
.keranjang.active {
    right: 0;
}

/* Hero Section*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 3px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.5;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  background-color: var(--secondary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.hero .content .cta:hover {
  background-color: var(--primary);
}

/* Tentang Kami Section */
.tentang,
.menu,
.kontak,
.produk {
  padding: 7rem 7% 1.4rem;
}

.tentang h2,
.menu h2,
.kontak h2,
.produk h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  font-style: oblique;
}

.tentang h2 span,
.menu h2 span,
.kontak h2 span,
.produk h2 span {
  color: var(--primary);
}

.tentang .row {
  display: flex;
}

.tentang .row .tentang-img {
  flex: 1 1 25rem;
}

.tentang .row .tentang-img img {
  width: 100%;
}

.tentang .row .content {
  flex: 1 1 35rem;
  padding: 0 1.5rem;
}

.tentang .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.tentang .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.5;
}

/* menu section */
.menu h2 {
  margin-bottom: 1.2rem;
}
.menu p,
.kontak p,
.produk p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 200;
  line-height: 1.6;
  font-size: 1.2rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 3rem;
  opacity: 0.9;
  font-size: 1.5rem;
}
.menu .row .menu-card:hover {
  opacity: 1;
}
.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
  opacity: 0.9;
}

.menu .row .menu-card .menu-card-title {
  margin-top: 1rem auto 0.5rem;
}

/* Produk */
.produk .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    margin-top: 4rem;
}
.produk .row .produk-card {
    padding: 0.5rem;
    border: 1px solid var(--bg-secondary);
    border-radius: 3rem;
    text-align: center;
    background-color: var(--bg-secondary);
}
.produk .row .produk-card:hover {
    border: 1px solid #666;
}
.produk .row .produk-deskripsi{
    border-bottom: 1px solid #666;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
}
.produk .row .produk-deskripsi h3 {
  font-size: 2.5rem;
}
.produk .row .produk-card .produk-icon {
    display: flex;
    justify-content:center;
    gap: 0.5rem;
}
.produk .row .produk-card .produk-icon a {
    color: #fff;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #666;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.produk .row .produk-card .produk-icon a:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}
.produk .row .produk-card .produk-img {
    padding: 1rem 0;
}
.produk .row .produk-card .produk-img img {
    width: 95%;
    border-radius: 2rem;
}
.produk .row .produk-card .produk-star{
    font-size: 1.7rem;
    padding: 0.25rem;
    color: var(--primary);
}
.produk .row .produk-card .produk-star .star-fill{
    fill: var(--primary);
}
.produk .row .produk-card .produk-harga {
    font-size: 1.5rem;
}
.produk .row .produk-card .produk-harga h5 {
    font-weight: lighter;
    font-size: 1rem;
}
.produk .row .produk-card .produk-harga h5 span {
    display: inline-block;
    padding: 0.3rem;
    margin: 0.25rem 0 0 0.25rem;
    font-weight: 500;
}
.produk .row .produk-card .produk-harga h5 span.produk-harga-diskon {
    border-radius: 0.5rem;
    background-color: var(--secondary);
}
.produk .row .produk-card .produk-harga h5 span.produk-harga-pokok {
    text-decoration: line-through;
    font-style: oblique;
}

/* kontak */
.kontak .row {
    display: flex;
    margin: 2rem;
    background: rgba(169, 169, 169, 0.2);
}
.kontak .row .peta {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}
.kontak .row .kontak-form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}
.kontak .row .kontak-form .kontak-title {
  font-size: 1.8rem;
  margin: 0 auto;
}
.kontak .row .kontak-form .form-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background: var(--bg);
  border: 1px solid var(--bg);
  border-radius: 1rem;
  overflow: hidden;
}
.kontak .row .kontak-form .form-group:hover {
  border: 1px solid var(--primary);
}

.kontak .row .kontak-form .form-group input,
.kontak .row .kontak-form .form-group textarea,
.kontak .row .kontak-form .form-group .btn-kirim {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  background: none;
  color: #fff;
}
.kontak .row .kontak-form .form-group label {
  padding-left: 1rem;
}
.kontak .row .kontak-form .form-group .btn-kirim {
  cursor: pointer;
  background-color: var(--secondary);
  font-size: 1.5rem;
  border: 1px solid var(--bg);
}
.kontak .row .kontak-form .form-group .btn-kirim:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

/* Footer */
footer {
  padding: 1rem;
  background-color: var(--primary);
}
footer .row {
  margin: 1rem auto;
  text-align: center;
}
footer .row .sign span {
  color: var(--bg);
}
footer .row .sosial a {
  display: inline-block;
  color: #fff;
  padding: 0.25rem;
}
footer .row .sosial a:hover {
  color: var(--bg);
}
footer .row .link a {
  display: inline-block;
  color: #fff;
  margin: 0 1rem;
}
footer .row .link a:hover {
  color: var(--bg);
}
footer .row p {
    margin: 0.5rem;
  }
footer .row .credit {
    margin-top: 1rem;
    font-size: 0.75rem;
}

/* Modal BOX */
.modal {
    display: none;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(25, 25, 25, 0.75);
}
.modal-container {
    position: relative;
    background-color: #FFF;
    color: var(--bg);
    margin: 15% auto auto auto;
    padding: 1.2rem;
    border: 1px solid #666;
    width: 80%;
    overflow: auto;
    animation: animateModal 0.5s;
}
.modal .modal-container .btn-close-modal {
  position: absolute;
  right: 1rem;
  color: var(--bg);
}
.modal .modal-container .btn-close-modal:hover {
  color: var(--primary);
}
.modal .modal-content {
    display: flex;
    flex-wrap: nowrap;
}
.modal .modal-container .modal-content .produk-content-img {
    height: 20rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.modal .modal-container .modal-content .produk-content .produk-content-deskripsi {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 1.2rem 0;
}
.modal .modal-container .modal-content .btn-tambah-keranjang {
    display: flex;
    gap: 1rem;
    width: 11rem;
    background-color: var(--secondary);
    color: #FFF;
    margin-top: 1rem;
    padding: 0.5rem 1.3rem;
    align-items: center;
    border-radius: 0.3rem;
}
.modal .modal-container .modal-content .produk-content .btn-tambah-keranjang span {
    font-size: 1.2rem;
}
.modal .modal-container .modal-content .produk-content .btn-tambah-keranjang:hover {
    background-color: var(--primary);
}
.produk-star {
    color: var(--primary);
}
.produk-content-harga {
    margin: 0.5rem 0 0;
}
.produk-content-harga h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    
}
.produk-content-harga span {
    display: inline-block;
    padding: 0.3rem;
    margin: 0 0 1rem;
}

.produk-content-harga span.produk-harga-diskon {
    border-radius: 0.5rem;
    background-color: var(--secondary);
}
.produk-content-harga span.produk-harga-pokok {
    text-decoration: line-through;
    font-style: oblique;
    font-weight: 500;
    color: #555;
}

/* modal animation */
@keyframes animateModal {
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top:0;
        opacity: 1;
    }
    
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff8da;
    width: 20rem;
    height: 100vh;
  }
  .navbar .navbar-nav.active {
    right: 0;
    transition: 100ms;
  }
  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }
  .navbar .cari{
    width: 90%;
  }

  .tentang .row {
    flex-wrap: wrap;
  }

  .tentang .row .tentang-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .tentang .row .content {
    padding: 0;
  }

  .tentang .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .tentang .row .content p {
    font-size: 1.5rem;
  }

  .menu p {
    font-size: 1.5rem;
  }

  .kontak .row {
    flex-wrap: wrap;
  }
  .kontak .row .peta {
    height: 30rem;
  }
  .kontak .row .kontak-form {
    padding: 0 1rem 1.5rem;
  }

  .modal .modal-content {
    flex-wrap: wrap;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
